// Externals

// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";

// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Pages
@import "pages/home-page";
@import "pages/item-app";
@import "pages/item-edit";
@import "pages/item-details";
// @import "pages/signup";

// Components
@import "cmps/item-list";
@import "cmps/item-preview";
@import "cmps/item-filter";
@import "cmps/app-header";

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }

    >footer {
        text-align: center;
        color: #9D9D9D;
    }
}