.chat-filter {
    padding: 8px 12px;
    height: 49px;
    // width: 250px;
    transition: box-shadow .18s ease-out, background-color .25s ease-out;
    .input-container {
        background-color: #f0f2f5;
        // margin: 0 4px;
        padding-right: 32px;
        padding-left: 12px;
        border-radius: 8px;
        height: 35px;
        display: flex;
        align-items: center;

        .search-icon{
            margin-top: 4px;
            color:#54656f;
            cursor: pointer;
        }

        input{
            border: none;
            background-color: inherit;
        }
    }
}