.chat-preview {
    cursor: pointer;
    width: 100%;
    padding: 12px;
    border-top: 1px solid #e9edef;

    &:last-child {
        border-bottom: 1px solid #e9edef;
    }

    &:hover {
        background-color: #f0f2f5;
    }

    .user-img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;
        margin-top: -8px;
        margin-left: -8px;
    }

    h3 {
        // margin-left: -4px;
        font-size: 1rem;
        background-color: var(--primary-txt-clr);
    }

    .last-msg {
        min-height: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #667781;
    }

    .last-msg-time {
        margin-top: 3px;
        margin-right: 6px;
        font-size: 11px;
        line-height: 14px;
        color: #667781;
        align-self: flex-start;
    }
}