.item-preview {
    box-shadow: 0px .5px 3px #00000026;
    border-radius: 4px;
    margin-block: 4px;
    min-width: 270px;
    max-width: 280px;
    cursor: pointer;
    padding: 4px;
    overflow-y: hidden;

    &:hover {
        box-shadow: 0px .5px 8px #00000026;
    }

    .item-img {
        height: 80px;
        width: 80px;
        border-radius: 30px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top left;
        margin-top: -8px;
        margin-left: -8px;
    }
    
    h3{
        // margin-left: -4px;
        margin-top: 4px;
        font-size: 1rem;
    }
    
    p {
    
        font-size: .8rem;
        color: #4f5963;
    }

    .actions {
        margin-top: 8px;
        display: flex;
        align-items: center;
        direction: rtl;
        // transform: translateY(100%);
        transition: transform 0.3s;
    }

    &:hover .actions {
        transform: translateX(-45px);
    }

}