.chat-details {
  background-color: rgb(220, 205, 169);
  width: 100%;
  height: 100%;
  
  .chat-header {
    padding: 12px;
    background-color: #eaeaea;
    
    .user-img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: top left;
      margin-top: -8px;
      margin-left: -8px;
    }
  }
  
  .chat-messages {
    padding: 12px;
    flex-grow: 1;
  }
  
  .chat-inputs{
    height: 50px;
    background-color: #eaeaea;
    padding: 12px;

    input{
      height: 30px;
    }
  }
}