.chat-app {
  width: 100vw;
  height: 100vh;

  .chats-header {
    padding: 10px 16px;
    background-color: #f0f2f5;
    height: 58px;

    .user-img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-size: 100%;
      margin-top: -4px;
      margin-left: -8px;
      margin-right: 6px;
    }

    .new-chat-btn {
      cursor: pointer;
      color: #54656f;
    }

    .logout-icon{
      cursor: pointer;
      height: 18px;
      margin-left: 16px;
      color: #54656f;
    }
  }

  .chats-display {
    background-color: white;
    width: 80%;

    .no-chats {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      border-block: 1px solid #e9edef;

      P {
        font-size: 0.875rem;
        color: #8696a0;
      }
    }
  }

  .empty-chat-details {
    height: 100%;
    padding: 30px;
    background-color: #f0f2f5;

    .empty-chat-logo {
      margin-top: -30%;
    }

    h1 {
      margin-top: 40px;
      display: inline-flex;
      font-size: 32px;
      font-weight: 300;
      line-height: 37.5px;
      color: #41525d;
    }

    .empty-chat-intro {
      text-align: center;
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      color: #667781;
    }
  }

  .new-chat-modal {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
    background-color:#fafafa;
    padding: 10px 10px;
    border-radius: 6px;
    box-shadow: 0 0px 2px 0px rgb(11, 19, 25, 0.19);
    gap: 6px;

    .close-btn {
      position: absolute;
      top: 4px;
      right: 10px;
      cursor: pointer;
      padding: 2px;
      color: #667781;
    }

    h2 {
      margin-left: 8px;
      font-size: 1.7rem;
      font-weight: 300;
      color: #41525d;
    }

    input {
      width: 100%;
      color: #54656f;
      margin: 6px 0;
    }

    svg {
      cursor: pointer;
    }
  }

  .user-list {
    height: 80vh;
    overflow: auto;

    .user-preview {
      border-top: 1px solid #e9edef;
      cursor: pointer;
      border-radius: 4px;
      padding: 3px 2px;
      gap: 4px;

      &:hover {
        background-color: #f5f6f6;
      }

      .user-status {
        font-size: .7rem;
        color: #8696a0;
      }
    }
  }
}